html,
body {
  height: 100%;
  background: $colorPostIt;
  @include media($basePageBreak) {
    background: #fff;
  }
}

.no-scroll {
  overflow: hidden;
}

body {
  opacity: 1;
  transition: .3s ease-out;
}

.no-show {
  opacity: 0;
}
