html,
body {
  height: 100%;
}

body {
  opacity: 1;
  transition: opacity .3s ease-out;
  overflow: hidden;
}

.no-show {
  opacity: 0;
}

a, button, input {
  touch-action: manipulation;
  -ms-touch-action: manipulation
}
