/* Button with wavy underline. Underline animates on hover. */
.button--wave {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding-left: 0 !important; // to trump button objects padding
  padding-right: 0 !important; // to trump button objects padding
  color: $colorDarkText;
  transition: color .2s;
  &:after,
  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -$baseUnit/3;
    height: 12px; // height of wave.svg
  }
  &:before {
    background-repeat: repeat-x !important; // to trump grunticons background-repeat
    background-position: left center;
    transition: .3s;
  }
  &:after {
    background-image: linear-gradient(to right, rgba($colorPostIt, 1), rgba($colorPostIt, 0)), linear-gradient(to left, rgba($colorPostIt, 1), rgba($colorPostIt, 0));
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: 10px 100%, 10px 100%;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: $colorSecondary;
    &:before {
      animation: waveLeft 200ms linear infinite;
    }
  }
}

/* Modifier .button--large */
.button--large {
  @include font-size(36px,false);
  @include media($basePageBreak) {
    @include font-size(48px,false);
  }
  line-height: 1.25;
}

/* Similar to .button--wave only that the wavy underline
   only animates when class .button--pulse-on is added
   additionally. */
.button--pulse {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding-left: 0 !important; // to trump button objects padding
  padding-right: 0 !important; // to trump button objects padding
  color: rgba(#fff, .5);
  transition: .3s;
  //&:hover, &:active, &:focus { outline: 0;}
  &:hover, &:focus { color: #fff; }
  &:focus { outline: 1px dotted #fff; }
  &:after,
  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -$baseUnit/3;
    height: 12px; // height of wave.svg
    opacity: 0;
    transition: .3s;
  }
  &:before {
    background-repeat: repeat-x !important; // to trump grunticons background-repeat
    background-position: left center;
  }
  &:after {
    background-image: linear-gradient(to right, rgba($colorMain, 1), rgba($colorMain, 0)), linear-gradient(to left, rgba($colorMain, 1), rgba($colorMain, 0));
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: 10px 100%, 10px 100%;
  }
}

/* .button--pulse-on is added via js while form data
    is processed by mail.php. */
.button--pulse-on {
  color: #fff;

  &:before,
  &:after {
    opacity: 1;
  }

  &:before {
    animation: waveLeft 200ms linear infinite;
  }
}

/* Close button for modal window. Uses slight animation
   on hover. */
.button--close {
  position: relative;
  width: 30px;
  height: 30px;
  @include media($basePageBreak) {
    width: 50px;
    height: 50px;
  }
  background: transparent;
  border: none;
  text-indent: -99999px;
  transition: .3s .1s;
  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 50%;
    height: 6px;
    margin-top: -3px;
    @include media($basePageBreak) {
      height: 10px;
      margin-top: -5px;
    }
    background: #fff;
  }
  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
  &:focus { outline: 1px dotted #fff; }
  &:hover:before {
    transform: rotate(45deg);
    transition: transform .3s .1s ease-out;
  }
  &:hover:after {
    transform: rotate(135deg);
    transition: transform .3s ease-out;
  }
}
