/* Center class is used to vertically center elements
   within their parent container. Height must be
   specified on parent container. */
.center {
  @include media($basePageBreakSmall) {
    display: table;
    width: 100%;
    height: 100%;
    &__inner {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

/* Modifier to force centering despite missing min-height
   specified in $basePageBreakSmall */
.center--force {
  display: table;
  width: 100%;
  height: 100%;
  .center__inner {
    display: table-cell;
    vertical-align: middle;
  }
}
