/* Big emoji to thank the user after successful
   form submission. */
.emoji {
  font-family: "Helvetica Neue", sans-serif;
  padding: $baseUnit*1 $baseUnit*1.5;
  transform: scale(3);
  display: inline-block;
  @include media($basePageBreak) {
    padding: $baseUnit*2 $baseUnit*2.5;
    transform: scale(5);
  }
  &:before {
    content: '👌';
    color: #fff;
  }
}

/* Animation is only added when modal--success layer
   is visible. Otherwise the animation would run even
   if it isn't needed. */
.modal--success {
  .emoji:before {
    animation: emojiflip 1000ms linear infinite both;
  }
}
