.emoji {
  font-family: "Helvetica Neue", sans-serif;
  padding: $baseUnit*1 $baseUnit*1.5;
  transform: scale(3);
  display: inline-block;
  @include media($basePageBreak) {
    padding: $baseUnit*2 $baseUnit*2.5;
    transform: scale(5);
  }
  &:before {
    content: '🤘';
  }
}

.modal--success {
  .emoji:before {
    animation: emojiflip 1000ms linear infinite both;
  }
}
