.form {

  &__label,
  &__text-input,
  &__comment {
    display: block;
  }

  &__label {
    position: relative;
    color: rgba(255,255,255,.3);
    @include font-size(21px);
    @include media($basePageBreak) {
      @include font-size(28px);
    }
    &:focus,
    &:active {
      outline: 0;
    }
  }

  &__error {
    color: #fff;
    margin-right: $baseUnit;
    @include font-size(14px);
    @include media($basePageBreak) {
      @include font-size(18px);
    }
  }

  &__text-input,
  &__comment {
    border: 0;
    margin-bottom: $baseUnit/2;
    background: #fff;
    width: 100%;
    color: $colorMain;
    position: relative;
    transform: scale(1);
    backface-visibility: hidden;
    &:focus,
    &:active {
      outline: 0;
    }
  }

  &__text-input {
    @include font-size(24px);
    padding: $baseUnit/2 0;
    text-indent: $baseUnit/2;

    @include media($basePageBreak) {
      @include font-size(36px);
      padding: $baseUnit 0;
      text-indent: $baseUnit;
    }

  }

  &__comment {
    height: $baseUnit*6;
    padding: $baseUnit/2;
    margin-bottom: $baseUnit*1.5;
    @include font-size(16px, false);
    @include media($basePageBreak) {
      height: $baseUnit*8;
      padding: $baseUnit;
      @include font-size(24px);
    }

    resize: none;
  }

  &__process {
    position: relative;
  }

  &__submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-error {
  animation: shake 1000ms linear 1 both;
}
