.form--error {
  animation: shake 1000ms linear 1 both;
}
.form {
  label,
  input,
  textarea {
    display: block;
  }

  label {
    position: relative;
    color: rgba(255,255,255,.3);
    @include font-size(21px);
    @include media($basePageBreak) {
      @include font-size(28px);
    }
    &:focus,
    &:active {
      outline: 0;
    }
  }

  &__error {
    color: #fff;
    margin-right: $baseUnit;
    @include font-size(14px);
    @include media($basePageBreak) {
      @include font-size(18px);
    }
  }

  input,
  textarea {
    border: 0;
    margin-bottom: $baseUnit/2;
    background: #fff;
    width: 100%;
    color: $colorMain;
    position: relative;
    transform: scale(1);
    backface-visibility: hidden;
    &:focus,
    &:active {
      outline: 0;
      //animation: pop 300ms linear both;
    }
  }

  input {
    @include font-size(24px);
    padding: $baseUnit/2 0;
    text-indent: $baseUnit/2;

    @include media($basePageBreak) {
      @include font-size(36px);
      padding: $baseUnit 0;
      text-indent: $baseUnit;
    }

  }

  textarea {
    height: $baseUnit*4;
    padding: $baseUnit/2;
    @include font-size(16px);
    @include media($basePageBreak) {
      height: $baseUnit*8;
      padding: $baseUnit;
      @include font-size(24px);
    }

    resize: none;
  }
}

.fade {
  position: relative;
  display: block;
  width: 100%;
  &:before,
  &:after {
    position: absolute;
    content: '';
    z-index: 1;
  }
}

.fade--vertical {
  &:before,
  &:after {
    top: 0;
    bottom: 0;
    width: $baseUnit*1.5;
  }
  &:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
  }

  &:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
  }
}

.fade--horizontal {
  &:before,
  &:after {
    left: 0;
    right: 0;
    height: $baseUnit*1.5;
  }
  &:before {
    top: 0;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
  }

  &:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
  }
}
