.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(110%);
  visibility: hidden;
  transition: .3s ease-out .30s;

  &--error {
    animation: flash 200ms linear 1 both;
  }

  &__header {
    padding: $baseUnit;
    position: relative;
    @include media($basePageBreak) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    &:before {
      position: absolute;
      background: rgba(255,255,255,.1);
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: .3s .1s;
    }
  }

  &__title {
    @include font-size(21px, false);
    @include media($basePageBreak) {
      @include font-size(32px, false);
    }
    color: #fff;
    opacity: 0;
    transition: .3s .1s;
  }

  &__close {
    position: absolute;
    right: $baseUnit/1.5;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    @include media($basePageBreak) {
      width: 50px;
      height: 50px;
    }
    background: transparent;
    border: none;
    text-indent: -99999px;
    opacity: 0;
    transition: .3s .1s;
    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 50%;
      height: 6px;
      margin-top: -3px;
      @include media($basePageBreak) {
        height: 10px;
        margin-top: -5px;
      }
      background: #fff;
    }
    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

  &--open {
    visibility: visible;
    transition: .3s ease-out .15s;
    transform: translateY(0);

    .modal__header {
      &:before {
        transition: 1s 1.5s;
        opacity: 1;
      }
    }

    .modal__title {
      transition: .75s 1s;
      opacity: 1;
    }

    .modal__close {
      transition: .75s .75s;
      opacity: 1;
      &:hover:before {
        transform: rotate(45deg);
        transition: .3s .1s ease-out;
      }
      &:hover:after {
        transform: rotate(135deg);
        transition: .3s ease-out;
      }
    }
  }
}

.modal__animation {
  opacity: 0;
  transition: .9s ease-out;
}

.modal__animation--1 {
  transform: translateY(150%);
}

.modal--open {
  .modal__animation--1 {
    transition: .5s ease-out .1s;
    transform: translate(0);
    opacity: 1;
  }
}

.modal--wave {
  background: $colorMain;
  &:before {
    position: absolute;
    content: '';
    top: -36px;
    left: 0;
    right: 0;
    height: 36px;
    background-size: auto 100% ;
    background-repeat: repeat-x !important;
    //display: none;
  }
}
