$easePopOut: cubic-bezier(.52,-0.22,.43,.5);

/**
 * Modal class with 3 states:
 *
 * .modal          - Modal is not visible
 * .modal--open    - Modal is open, showing the
 *                   contents of .modal__content
 * .modal--success - Modal is open, showing the
 *                   contents of .modal__success
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $colorMain;
  transform: translateY(110%);
  transition: .3s ease-out .4s;

  /* wave border */
  &:before {
    position: absolute;
    content: '';
    top: -36px;
    left: 0;
    right: 0;
    height: 36px;
    background-size: auto 100% ;
    background-repeat: repeat-x !important;
  }

  /* Modal error state. Adds flash to the modal
    when form submission failed.
    See modal--error:after and animations.scss */
  &:after {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    z-index: 1;
  }

  &--error:after {
    animation: flash 200ms linear 1 both;
  }

  &--open,
  &--success {
    transform: translateY(0);
    transition: .3s ease-out .15s;
  }

  .old-ie & {
    display: none;
  }
}

.modal__header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: $baseUnit;

  /* modal__header background on :before element
     for animation performance purposes. */
  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(lighten($colorMain, 10%), .8);
    visibility: hidden;
    opacity: 0;
    transition: .3s .1s;
    .modal--open & {
      visibility: visible;
      opacity: 1;
      transition: opacity 1s 1.5s;
    }
  }
}

.modal__title {
  @include font-size(21px, false);
  @include media($basePageBreak) {
    @include font-size(32px, false);
  }
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .3s .1s;

  .modal--open & {
    visibility: visible;
    opacity: 1;
    transition: opacity .75s 1s;
  }

  .modal--success & {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  }
}

.modal__close {
  position: absolute;
  right: $baseUnit/1.5;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: .3s .1s;

  .modal--open & {
    visibility: visible;
    opacity: 1;
    transition: opacity .75s .75s;
  }
  .modal--success & {
    visibility: visible;
    opacity: 1 !important;
    transition: .3s;
  }
}

.modal__scrollable,
.modal__success {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__scrollable {
  overflow: auto;
  padding-top: $baseUnit*4; // height of modal__header
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: .9s $easePopOut;

  .modal--open & {
    visibility: visible;
    opacity: 1;
    backface-visibility: hidden;
    transform: translateY(0);
    transition: .5s ease-out .1s;
  }

  .modal--success & {
    visibility: hidden;
    opacity: 0;
    transition: .5s $easePopOut .1s;
    transform: translateY(100%);
  }
}

.modal__success {
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
  transition: .3s ease-in;

  .modal--open & {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
  }

  .modal--success & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: .3s .6s;
  }
}
