.post-it {
  background: $colorPostIt;
  padding: $baseUnit $baseUnit*1.5;
  max-width: $constrainLarge;
  margin: 0 auto;
  @include font-size(36px,false);
  @include media($basePageBreak) {
    padding: $baseUnit*2 $baseUnit*2.5;
    @include font-size(48px,false);
  }
  line-height: 1.25;
  position: relative;
  color: $colorDarkText;
  transition: .9s transform;
  transform: translateY(0);
  p:last-child {
    margin-bottom: 0;
  }

  &--hidden {
    transform: translateY(-300%);
  }

  &--taped {
    &:before {
      position: absolute;
      content: '';
      top: -$baseUnit*2;
      left: 50%;
      margin-left: -86px;
      width: 172px;
      height: 102px;
      transform: rotate(-5deg);
      opacity: .2;
    }
  }
}
