.post-it {
  background: $colorPostIt;
  min-height: 100%;
  @media screen and (min-width: 360px) and (min-height: 520px), (min-width: 520px) and (min-height: 360px) {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: $baseUnit;
  }

  &__content {
    background: $colorPostIt;
    padding: $baseUnit $baseUnit*1.5;
    width: 100%;
    height: 100%;
    @include font-size(36px, false);
    line-height: 1.25;
    position: relative;
    color: $colorDarkText;
    transform: translateY(0);
    transition: transform .9s ease-out;

    @media screen and (min-width: 360px) and (min-height: 520px), (min-width: 520px) and (min-height: 360px) {
      max-width: $constrainMedium;
      width: auto;
      height: auto;
      margin: 0 auto;
      padding: $baseUnit*1.5 $baseUnit;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    @include media($breakLaptop min-height 600px) {
      max-width: $constrainLarge;
      padding: $baseUnit*2 $baseUnit*2.5;
      @include font-size(48px, false);
    }

    @include media($breakDesktopWide min-height 1000px) {
      max-width: $constrainMax;
      padding: $baseUnit*2 $baseUnit*2.5;
      @include font-size(69px, false);
    }

    p:last-child {
      margin-bottom: 0;
    }

    &--hidden {
      transform: translateY(-300%);
      transition: transform .9s;
    }
  }
}
