.wave {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: none;
  &--main,
  &--light {
    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -$baseUnit/3;
      height: 14px; // height of wave.svg
      background-repeat: repeat-x !important;
      background-position: center center;
      pointer-events: none;
      transition: .2s .1s;
    }
  }
}

a.wave {
  color: #fff;
  background-repeat: repeat-x !important;
  background-position: top left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position .2s;
  &--main,
  &--light {
    &:hover {
      transition: .4s ease-out .1s;
      background-position: bottom left;
      &:after {
        transition: .2s;
        transform: translateY(-100%);
        opacity: 0;
      }
    }
  }
}

.wave--light {
  color: #fff;
}
