/**
 * style.scss
 *
 * Author: Marian Friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$constrainObject: true;
$buttonObject: true;

/* colors */

$colorMain: #6B55AE;
$colorSecondary: #DE5483;
$colorPostIt: lighten(#FFEFA1, 10%);
$colorDarkText: #3B3930;

/**
 * Default fonts
 */

$fontPrimary: "futura-pt", sans-serif;

/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';
$basePageBreak: $breakTablet min-height 600px;
$basePageBreakSmall: 360px min-height 400px;
/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

.constrain {
  padding: 0 $baseUnit;
}

@import 'base';
@import 'animations';
@import 'center';
@import 'post-it';
@import 'headline';
@import 'emoji';
@import 'modal';
@import 'button';
@import 'form';
