/**
 * style.scss
 *
 * Author: Marian Friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$constrainObject: true;
$buttonObject: true;

/* colors */

$colorMain: #9013FE;
$colorMainLight: #65FFEE;
$colorPostIt: #fff8de;
$colorDarkText: #3B3930;

/**
 * Default fonts
 */

$fontPrimary: "futura-pt", sans-serif;

/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';
$basePageBreak: $breakLaptop min-height 600px;
/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

.constrain {
  padding: 0 $baseUnit;
}

@import 'base';
@import 'animations';
@import 'center';
@import 'post-it';
@import 'modal';
@import 'button';
@import 'form';
